@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
* {
    font-family: 'Merriweather', serif;
}

body {
    margin: 2%;
    background-color: #dce0e0;
}

h1 {
    text-align: center;
    text-decoration: underline;
    color: #ab2a3e;
}

h2 {
    color: #ab2a3e;
    text-align: center;
}

#ImgPrincipales {
    width: 50%;
    padding-left: 20%;
    padding-right: 20%;
}

p {
    text-align: center;
}

span {
    font-size: 900 black ;
}

ul.a {
    padding-left: 35%;
    padding-right: 20%;
}

table, th, td {
    border: 1px solid;
    margin: auto;
    text-align: center;
}

img {
    width: 50%;
    margin: auto;
    display: block;
    border-radius: 8px;
}